/*ABOUT PAGE*/
@font-face {
  font-family: 'StrangerCreature';
  src: url("./../fonts/stranger-creature-font/STRANGERCREATURERegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MysticForest';
  src: url("./../fonts/mystic-forest-font/MysticForestFreeTrial-mL8vv.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HorrorFind';
  src: url("./../fonts/horrorfind/Horrorfind.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,body{background-color:#1e1e22;font-family: 'StrangerCreature' !important;}

.wrapper{
  display:flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.placeholder{
  display:inline-block;
  position:relative;
  width:600px;
  height:600px;
  overflow:hidden;
  box-sizing:border-box;
  margin-top:auto;
}

.gridContainer{
  width:100%;
  height:100%;
}

.gridTile{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-origin:center;
}

.bio_box{
  position: relative;
  width: 40%;
  height: 40%;
  padding: 20px;
  margin-top: inherit;
  left: 50px;
  margin-right: 10px;
  color: #DDDFD5;
  font-size: 20px;
  text-align: left;
}
